"" Source your .vimrc
source ~/.vimrc
nnoremap <SPACE> <Nop>
let mapleader=" "
"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc

set clipboard=unnamedplus   " using system clipboard
set easymotion
Plug 'easymotion/vim-easymotion'
map <leader>F <Plug>(easymotion-s)
map <leader>f <Plug>(easymotion-f)
set surround
set ideajoin
set idearefactormode=keep
set NERDTree
nnoremap <leader>d :action ToggleDistractionFreeMode<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap <leader>rt ?@var<CR>WyiW/\$<CR>Pa <ESC>?\/\*\*<CR>d/\*\/<CR>k2dd<CR>
nnoremap <leader>n :NERDTreeToggle<CR>